<link href="/css/menu.css" rel="stylesheet"/>
<input type="checkbox" id="ham-menu">
<label for="ham-menu">
  <div class="hide-des">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </div>

</label>
<div class="full-page-green"></div>
<div class="ham-menu">
  <ul class="centre-text bold-text">
    <li onclick="location.href='http://localhost:4000/debugger/home/';">Home</li>
    <li onclick="location.href='http://localhost:4000/debugger/vehicles/';">Veiculos</li>
  </ul>
</div>

<div class="tablesWithEvents">
    <br></br>
    <br></br>
    <br></br>
    <h1 style="text-align:left;color:azure;margin: 20px;">Matrículas e Contra ordenações associadas:</h1>
    {{#each events}}
            <head>
                <link href="/css/style.css" rel="stylesheet"/>
            </head>
            <body>
                <table style="width:100%">
                    <tr>
                        <th>Numero Auto</th>
                        <th>Veiculo Autuado</th>
                        <th>Data Hora</th>
                        <th>Local</th>
                        <th>Norma Infrigida</th>
                        <th>Distrito</th>
                        <th>Descrição Sumária</th>
                        <th>Data limite de Defesa</th>
                        <th>Estado do Pagamento</th>
                        <th>Valor da Coima</th>
                        <th>Gravidade</th>
                        <th>Entidade Autuante</th>
                        <th>Data de Notificação</th>
                    </tr>
                      <h2 style="text-align:left;color:azure;margin: 20px;" color="white">{{matricula}}</h2>
                    {{#each eventos}}
                    <tr>
                        <td>{{dadosDaInfracao.numeroAuto}}</td>
                        <td>{{dadosDaInfracao.veiculoAutuado}}</td>
                        <td>{{dadosDaInfracao.dataHora}}</td>
                        <td>{{dadosDaInfracao.local}}</td>
                        <td>{{dadosDaInfracao.normaInfrigida}}</td>
                        <td>{{dadosDaInfracao.distrito}}</td>
                        <td>{{dadosDaInfracao.descricaoSumaria}}</td>
                        <td>{{dadosDaInfracao.dataLimiteDefesa}}</td>
                        <td>{{dadosDaInfracao.estadoDoPagamento}}</td>
                        <td>{{dadosDaInfracao.valorDaCoima}}</td>
                        <td>{{dadosDaInfracao.gravidade}}</td>
                        <td>{{dadosDaInfracao.entidadeAutuante}}</td>
                        <td>{{dadosDaInfracao.dataNotificacao}}</td>
                    </tr>
                    {{/each}}  
                </table>
            </body>
            <br></br>
    {{/each}}
</div>